@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-poppins: "Poppins", sans-serif;
}

* {
  font-family: var(--font-poppins);
}

.customInput {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2 bg-gray-100 focus:bg-white focus:border-blue-500 transition-colors;
}

.customPassword {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2 bg-gray-100 hover:bg-gray-50 focus:bg-white 
              focus:border-blue-500 transition-colors duration-200 placeholder-gray-400;
}

.customSelect {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2 
                bg-gray-100 hover:bg-gray-50 focus:bg-white 
                focus:border-blue-500 transition-colors duration-200 pr-8;
}

/* BOTONES */

.customButtonMain {
  @apply w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg transition-colors duration-200;
}

.customButtonSecondary {
  @apply w-full bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded-lg transition-colors duration-200;
}

/* TABLAS */
.customTableContainer {
  @apply overflow-x-auto mt-6 shadow-lg w-full max-w-full;
}

.customTable {
  @apply w-full border-collapse table-auto bg-gray-300;
  min-width: auto;
}

.customTableHeader {
  @apply px-4 py-3 bg-gray-50 text-center text-sm font-medium text-gray-500 uppercase tracking-wider bg-gray-200 break-words;
}

.customTableData {
  @apply px-4 py-3 text-sm break-words;
  white-space: normal;
}

.flex-1 {
  min-width: 0;
}

.customTableData button {
  @apply mb-1;
  display: inline-block;
}

@media (max-width: 768px) {
  .customTableHeader,
  .customTableData {
    @apply px-2 py-2 text-xs;
  }
}
